---
layout: default
---
<div class="breadcrumb-nav">
  <a href="/books">Books</a>
  <span>▸</span>
  <strong>{{ page.title }}</strong>
</div>

<div class="book-layout-container">
  <div class="book-sidebar">
    <img src="{{ page.data.cover }}" alt="{{ page.title }}" class="book-sidebar-image">
  </div>

  <div class="book-main-content">
    <h1 class="book-title">{{ page.title }}</h1>
    <div>{{ page.data.subtitle }}</div>
    <div>{{ page.data.authors }}</div>

    {{ content }}
  </div>
</div>
